/* Custom CSS Added by Jihan
-------------------------------------------------------	*/

@import url("https://fonts.maateen.me/solaiman-lipi/font.css");

body {
    font-family: "SolaimanLipi", Arial, sans-serif !important;
	font-size: 18px;
    color: #5d646a;
}

.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}


div.dataTables_wrapper div.dataTables_filter {
    float: right;
}

.card-header {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header h4 {
    font-weight: 400 !important;
}

.custom-col-7 .col-md-2 {
    -ms-flex: 0 0 14.28%;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding-top: 20px;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 400;
}

.btn-secondary {
    color: #5d646a;
    background-color: #f4f6f9;
    border-color: #f4f6f9;
}


.main-footer {
	background: transparent;
	border-top: 0;
	color: #869099;
	padding: 1rem;
	font-size: 14px;
}

aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    /*display: none;*/
}

[class*=sidebar-dark-] {
    background-color: rgb(11, 41, 72);
}

.os-content {
    padding: 0 !important;
}

.nav-sidebar .nav-item>.nav-link {
    margin-bottom: 0.3rem;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
}