@font-face {
    font-family: 'Nikosh';
    src: url('Nikosh.woff2') format('woff2'),
        url('Nikosh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

